.jumbotron {
background-image: url("https://pixabay.com/get/e833b90b28f1033ed1534705fb0938c9bd22ffd41db912449df7c67fa4/barley-field-1684052_1920.jpg");
background-size: 100% 100%;

}

h1 {
text-align: center;
}
